#AutoEncoders

##Downloading the dataset

###ML-100K

In [1]:
!wget "http://files.grouplens.org/datasets/movielens/ml-100k.zip"
!unzip ml-100k.zip
!ls

--2022-06-05 13:36:07--  http://files.grouplens.org/datasets/movielens/ml-100k.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4924029 (4.7M) [application/zip]
Saving to: ‘ml-100k.zip’

ml-100k.zip         100%[===================>]   4.70M  29.4MB/s    in 0.2s

2022-06-05 13:36:07 (29.4 MB/s) - ‘ml-100k.zip’ saved [4924029/4924029]

Archive:  ml-100k.zip
   creating: ml-100k/
  inflating: ml-100k/allbut.pl
  inflating: ml-100k/mku.sh
  inflating: ml-100k/README
  inflating: ml-100k/u.data
  inflating: ml-100k/u.genre
  inflating: ml-100k/u.info
  inflating: ml-100k/u.item
  inflating: ml-100k/u.occupation
  inflating: ml-100k/u.user
  inflating: ml-100k/u1.base
  inflating: ml-100k/u1.test
  inflating: ml-100k/u2.base
  inflating: ml-100k/u2.test
  inflating: ml-100k/u3.base
  inflating: ml-100k/u3.test
  inflating: ml-100k/u4.base
  inflating: ml-100k/u4.test
  inflating: ml-100k/u5.base
  inflating: ml-100k/u5.test
  inflating: ml-100k/ua.base
  inflating: ml-100k/ua.test
  inflating: ml-100k/ub.base
  inflating: ml-100k/ub.test
ml-100k  ml-100k.zip  sample_data

###ML-1M

In [2]:
!wget "http://files.grouplens.org/datasets/movielens/ml-1m.zip"
!unzip ml-1m.zip
!ls

--2022-06-05 13:36:15--  http://files.grouplens.org/datasets/movielens/ml-1m.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5917549 (5.6M) [application/zip]
Saving to: ‘ml-1m.zip’

ml-1m.zip           100%[===================>]   5.64M  32.5MB/s    in 0.2s

2022-06-05 13:36:16 (32.5 MB/s) - ‘ml-1m.zip’ saved [5917549/5917549]

Archive:  ml-1m.zip
   creating: ml-1m/
  inflating: ml-1m/movies.dat
  inflating: ml-1m/ratings.dat
  inflating: ml-1m/README
  inflating: ml-1m/users.dat
ml-100k  ml-100k.zip  ml-1m  ml-1m.zip	sample_data

##Importing the libraries

In [3]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

## Importing the dataset

In [4]:
# all movies.
movies = pd.read_csv('ml-1m/movies.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
movies.head()

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [6]:
# all users
users = pd.read_csv('ml-1m/users.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
users.head()

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455

In [23]:
# all ratings
ratings = pd.read_csv('ml-1m/ratings.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
ratings.rename({0:"UserID", 1:"MovieID", 2:"Rating", 3:"Timestamp"}, axis= 1, inplace= True)
ratings["Date"] = pd.to_datetime(ratings["Timestamp"], unit='s').apply(lambda x : x.date())
ratings.head()

   UserID  MovieID  Rating  Timestamp        Date
0       1     1193       5  978300760  2000-12-31
1       1      661       3  978302109  2000-12-31
2       1      914       3  978301968  2000-12-31
3       1     3408       4  978300275  2000-12-31
4       1     2355       5  978824291  2001-01-06

## Preparing the training set and the test set

In [42]:
training_set = pd.read_csv('ml-100k/u1.base', delimiter = '\t')
training_set = np.array(training_set, dtype = 'int') # convert to numpy array to be used with pytorch
test_set = pd.read_csv('ml-100k/u1.test', delimiter = '\t')
test_set = np.array(test_set, dtype = 'int') # convert to numpy array to be used with pytorch

print("All ratings:\t", len(ratings), "\t", (len(ratings) / len(ratings) * 100), "%")
print("Training set:\t", len(training_set), "\t\t", (len(training_set) / len(ratings) * 100), "%")
print("Test set:\t", len(test_set), "\t\t", (len(test_set) / len(ratings) * 100), "%")

All ratings:	 1000209 	 100.0 %
Training set:	 79999 		 7.998228370270613 %
Test set:	 19999 		 1.9994821082393779 %

## Getting the number of users and movies

In [43]:
nb_users = int(max(max(training_set[:, 0], ), max(test_set[:, 0])))
nb_movies = int(max(max(training_set[:, 1], ), max(test_set[:, 1])))

## Converting the data into an array with users in lines and movies in columns

In [44]:
def convert(data):
  new_data = []
  for id_users in range(1, nb_users + 1):
    id_movies = data[:, 1] [data[:, 0] == id_users]
    id_ratings = data[:, 2] [data[:, 0] == id_users]
    ratings = np.zeros(nb_movies)
    ratings[id_movies - 1] = id_ratings
    new_data.append(list(ratings))
  return new_data
training_set = convert(training_set)
test_set = convert(test_set)

## Converting the data into Torch tensors

In [45]:
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

## Creating the architecture of the Neural Network

In [46]:
class SAE(nn.Module):
    def __init__(self, ):
        super(SAE, self).__init__()
        self.fc1 = nn.Linear(nb_movies, 20)
        self.fc2 = nn.Linear(20, 10)
        self.fc3 = nn.Linear(10, 20)
        self.fc4 = nn.Linear(20, nb_movies)
        self.activation = nn.Sigmoid()
    def forward(self, x):
        x = self.activation(self.fc1(x))
        x = self.activation(self.fc2(x))
        x = self.activation(self.fc3(x))
        x = self.fc4(x)
        return x
sae = SAE()
criterion = nn.MSELoss()
optimizer = optim.RMSprop(sae.parameters(), lr = 0.01, weight_decay = 0.5)

## Training the SAE

In [47]:
nb_epoch = 200
for epoch in range(1, nb_epoch + 1):
  train_loss = 0
  s = 0.
  for id_user in range(nb_users):
    input = Variable(training_set[id_user]).unsqueeze(0)
    target = input.clone()
    if torch.sum(target.data > 0) > 0:
      output = sae(input)
      target.require_grad = False
      output[target == 0] = 0
      loss = criterion(output, target)
      mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
      loss.backward()
      train_loss += np.sqrt(loss.data*mean_corrector)
      s += 1.
      optimizer.step()
  print('epoch: '+str(epoch)+'loss: '+ str(train_loss/s))

epoch: 1loss: tensor(1.7713)
epoch: 2loss: tensor(1.0967)
epoch: 3loss: tensor(1.0534)
epoch: 4loss: tensor(1.0381)
epoch: 5loss: tensor(1.0310)
epoch: 6loss: tensor(1.0264)
epoch: 7loss: tensor(1.0240)
epoch: 8loss: tensor(1.0220)
epoch: 9loss: tensor(1.0209)
epoch: 10loss: tensor(1.0199)
epoch: 11loss: tensor(1.0189)
epoch: 12loss: tensor(1.0184)
epoch: 13loss: tensor(1.0179)
epoch: 14loss: tensor(1.0176)
epoch: 15loss: tensor(1.0173)
epoch: 16loss: tensor(1.0169)
epoch: 17loss: tensor(1.0168)
epoch: 18loss: tensor(1.0166)
epoch: 19loss: tensor(1.0165)
epoch: 20loss: tensor(1.0164)
epoch: 21loss: tensor(1.0164)
epoch: 22loss: tensor(1.0160)
epoch: 23loss: tensor(1.0161)
epoch: 24loss: tensor(1.0157)
epoch: 25loss: tensor(1.0156)
epoch: 26loss: tensor(1.0157)
epoch: 27loss: tensor(1.0154)
epoch: 28loss: tensor(1.0152)
epoch: 29loss: tensor(1.0132)
epoch: 30loss: tensor(1.0122)
epoch: 31loss: tensor(1.0087)
epoch: 32loss: tensor(1.0097)
epoch: 33loss: tensor(1.0049)
epoch: 34loss: tensor(1.0050)
epoch: 35loss: tensor(1.0002)
epoch: 36loss: tensor(0.9983)
epoch: 37loss: tensor(0.9960)
epoch: 38loss: tensor(0.9956)
epoch: 39loss: tensor(0.9953)
epoch: 40loss: tensor(0.9923)
epoch: 41loss: tensor(0.9906)
epoch: 42loss: tensor(0.9886)
epoch: 43loss: tensor(0.9867)
epoch: 44loss: tensor(0.9863)
epoch: 45loss: tensor(0.9831)
epoch: 46loss: tensor(0.9861)
epoch: 47loss: tensor(0.9793)
epoch: 48loss: tensor(0.9757)
epoch: 49loss: tensor(0.9733)
epoch: 50loss: tensor(0.9733)
epoch: 51loss: tensor(0.9739)
epoch: 52loss: tensor(0.9750)
epoch: 53loss: tensor(0.9724)
epoch: 54loss: tensor(0.9723)
epoch: 55loss: tensor(0.9690)
epoch: 56loss: tensor(0.9729)
epoch: 57loss: tensor(0.9750)
epoch: 58loss: tensor(0.9758)
epoch: 59loss: tensor(0.9677)
epoch: 60loss: tensor(0.9721)
epoch: 61loss: tensor(0.9708)
epoch: 62loss: tensor(0.9668)
epoch: 63loss: tensor(0.9624)
epoch: 64loss: tensor(0.9626)
epoch: 65loss: tensor(0.9585)
epoch: 66loss: tensor(0.9587)
epoch: 67loss: tensor(0.9543)
epoch: 68loss: tensor(0.9550)
epoch: 69loss: tensor(0.9565)
epoch: 70loss: tensor(0.9559)
epoch: 71loss: tensor(0.9537)
epoch: 72loss: tensor(0.9545)
epoch: 73loss: tensor(0.9525)
epoch: 74loss: tensor(0.9553)
epoch: 75loss: tensor(0.9575)
epoch: 76loss: tensor(0.9520)
epoch: 77loss: tensor(0.9483)
epoch: 78loss: tensor(0.9476)
epoch: 79loss: tensor(0.9467)
epoch: 80loss: tensor(0.9470)
epoch: 81loss: tensor(0.9439)
epoch: 82loss: tensor(0.9460)
epoch: 83loss: tensor(0.9427)
epoch: 84loss: tensor(0.9436)
epoch: 85loss: tensor(0.9413)
epoch: 86loss: tensor(0.9420)
epoch: 87loss: tensor(0.9399)
epoch: 88loss: tensor(0.9406)
epoch: 89loss: tensor(0.9400)
epoch: 90loss: tensor(0.9439)
epoch: 91loss: tensor(0.9380)
epoch: 92loss: tensor(0.9428)
epoch: 93loss: tensor(0.9387)
epoch: 94loss: tensor(0.9383)
epoch: 95loss: tensor(0.9379)
epoch: 96loss: tensor(0.9374)
epoch: 97loss: tensor(0.9353)
epoch: 98loss: tensor(0.9365)
epoch: 99loss: tensor(0.9344)
epoch: 100loss: tensor(0.9356)
epoch: 101loss: tensor(0.9340)
epoch: 102loss: tensor(0.9348)
epoch: 103loss: tensor(0.9333)
epoch: 104loss: tensor(0.9336)
epoch: 105loss: tensor(0.9334)
epoch: 106loss: tensor(0.9332)
epoch: 107loss: tensor(0.9321)
epoch: 108loss: tensor(0.9326)
epoch: 109loss: tensor(0.9313)
epoch: 110loss: tensor(0.9319)
epoch: 111loss: tensor(0.9306)
epoch: 112loss: tensor(0.9310)
epoch: 113loss: tensor(0.9299)
epoch: 114loss: tensor(0.9308)
epoch: 115loss: tensor(0.9298)
epoch: 116loss: tensor(0.9301)
epoch: 117loss: tensor(0.9292)
epoch: 118loss: tensor(0.9296)
epoch: 119loss: tensor(0.9286)
epoch: 120loss: tensor(0.9286)
epoch: 121loss: tensor(0.9278)
epoch: 122loss: tensor(0.9283)
epoch: 123loss: tensor(0.9274)
epoch: 124loss: tensor(0.9277)
epoch: 125loss: tensor(0.9269)
epoch: 126loss: tensor(0.9268)
epoch: 127loss: tensor(0.9264)
epoch: 128loss: tensor(0.9262)
epoch: 129loss: tensor(0.9255)
epoch: 130loss: tensor(0.9255)
epoch: 131loss: tensor(0.9252)
epoch: 132loss: tensor(0.9248)
epoch: 133loss: tensor(0.9245)
epoch: 134loss: tensor(0.9242)
epoch: 135loss: tensor(0.9237)
epoch: 136loss: tensor(0.9236)
epoch: 137loss: tensor(0.9231)
epoch: 138loss: tensor(0.9237)
epoch: 139loss: tensor(0.9225)
epoch: 140loss: tensor(0.9227)
epoch: 141loss: tensor(0.9219)
epoch: 142loss: tensor(0.9223)
epoch: 143loss: tensor(0.9214)
epoch: 144loss: tensor(0.9218)
epoch: 145loss: tensor(0.9212)
epoch: 146loss: tensor(0.9210)
epoch: 147loss: tensor(0.9204)
epoch: 148loss: tensor(0.9202)
epoch: 149loss: tensor(0.9196)
epoch: 150loss: tensor(0.9198)
epoch: 151loss: tensor(0.9192)
epoch: 152loss: tensor(0.9193)
epoch: 153loss: tensor(0.9194)
epoch: 154loss: tensor(0.9189)
epoch: 155loss: tensor(0.9187)
epoch: 156loss: tensor(0.9186)
epoch: 157loss: tensor(0.9182)
epoch: 158loss: tensor(0.9180)
epoch: 159loss: tensor(0.9174)
epoch: 160loss: tensor(0.9174)
epoch: 161loss: tensor(0.9173)
epoch: 162loss: tensor(0.9170)
epoch: 163loss: tensor(0.9168)
epoch: 164loss: tensor(0.9169)
epoch: 165loss: tensor(0.9166)
epoch: 166loss: tensor(0.9164)
epoch: 167loss: tensor(0.9159)
epoch: 168loss: tensor(0.9163)
epoch: 169loss: tensor(0.9156)
epoch: 170loss: tensor(0.9157)
epoch: 171loss: tensor(0.9150)
epoch: 172loss: tensor(0.9156)
epoch: 173loss: tensor(0.9152)
epoch: 174loss: tensor(0.9150)
epoch: 175loss: tensor(0.9143)
epoch: 176loss: tensor(0.9145)
epoch: 177loss: tensor(0.9140)
epoch: 178loss: tensor(0.9143)
epoch: 179loss: tensor(0.9135)
epoch: 180loss: tensor(0.9136)
epoch: 181loss: tensor(0.9134)
epoch: 182loss: tensor(0.9133)
epoch: 183loss: tensor(0.9130)
epoch: 184loss: tensor(0.9125)
epoch: 185loss: tensor(0.9121)
epoch: 186loss: tensor(0.9124)
epoch: 187loss: tensor(0.9118)
epoch: 188loss: tensor(0.9120)
epoch: 189loss: tensor(0.9112)
epoch: 190loss: tensor(0.9112)
epoch: 191loss: tensor(0.9107)
epoch: 192loss: tensor(0.9109)
epoch: 193loss: tensor(0.9102)
epoch: 194loss: tensor(0.9101)
epoch: 195loss: tensor(0.9089)
epoch: 196loss: tensor(0.9088)
epoch: 197loss: tensor(0.9084)
epoch: 198loss: tensor(0.9087)
epoch: 199loss: tensor(0.9076)
epoch: 200loss: tensor(0.9074)

## Testing the SAE

In [48]:
test_loss = 0
s = 0.
for id_user in range(nb_users):
  input = Variable(training_set[id_user]).unsqueeze(0)
  target = Variable(test_set[id_user]).unsqueeze(0)
  if torch.sum(target.data > 0) > 0:
    output = sae(input)
    target.require_grad = False
    output[target == 0] = 0
    loss = criterion(output, target)
    mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
    test_loss += np.sqrt(loss.data*mean_corrector)
    s += 1.
print('test loss: '+str(test_loss/s))

test loss: tensor(0.9535)